<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/#subscribe" />
    <meta name="robots" content="noindex" />
    <title>正在跳转</title>
    <script is:inline>window.location.replace("/#subscribe");</script>
  </head>
  <body><a href="/#subscribe">前往订阅更新</a></body>
</html>
